.mech .col-3
{
	border: solid #bfc799 2px;
	text-align: center;
	background-color: #b2bd80;
}


.mech .col-3:hover
{
	/*background-color: black;*/
	text-shadow: 2px 2px grey;

}

.opis
{
	position: relative;
	text-shadow: 2px 2px 5px black;
	border-radius: 5px;
}

#podstawy
{
	transition: 1s;
	position: initial;
}

#akcje {z-index: -1;}
#bon_ak {z-index: -2;}
#tura {z-index: 3;}
#tur_en {z-index: 4;}

.common
{
	opacity: 0;
	transition: 1s;
	position: absolute;
}
